# Файлы видео и мультимедиа
video/
video_results/
*.mp4
*.MP4
*.avi
*.AVI
*.mov
*.MOV
*.mkv
*.MKV

# Данные и датасеты
data/
dataset/
datasets/
new_dataset_yolo11/
new_dataset_yolo26/
*.zip
*.rar
*.tar.gz
archive/

# Веса моделей и чекпоинты
checkpoints/
*.pth
*.pt
*.bin
!best_weights/
!best_weights/rtdetr_best.pt
!best_weights/yolo11L_best.pt
!best_weights/yolo26L_best.pt

# Результаты обучения, логи
results/
logs/
*.log

# Временные файлы IDE / Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env
.vscode/
.idea/
.DS_Store

# Артефакты обучения Ultralytics
runs/
